{% extends "tracker/base.html" %} 

{% block title %}
    Calorie Tracker
{% endblock %}

{% block body %}
    <h1>Logged Foods</h1>
    <form action="{% url 'meals' %}" method="post">
        {% csrf_token %}
        <input name= "search" type="text" placeholder="Search Full Database" required>
        <input type="submit" class="btn btn-outline-secondary" value="Search">
    </form>

{% if meals %}
    {% for meal in meals %}
        <div>
            <p>{{ meal.name }} : {{ meal.kcal }} Calories (on {{ meal.date|date:"D M d" }})</p>
        </div>
        <form action="{% url 'add_food' %}" method="post">
                {% csrf_token %}
                <input name="food_name" type="hidden" value="{{ meal.name }}">
                <input name="food_kcal" type="hidden" value="{{ meal.kcal }}">
                <input type="submit"  class="btn btn-outline-success" value="Add Food">
        </form>

    {% endfor %}
{% else %}
    <p>There are no pre-created meals to show you.<a href="{% url 'create_meal' %}"> Create one? </a></p>
    <li></li>
{% endif %}

{% endblock %}
