{% extends "tracker/base.html" %}

{% block body %}
<h1>Register</h1>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <input name="username" placeholder="Create Username" type="text"/>
    <input name="email" placeholder="Enter email" type="text"/>
    <input name="password" placeholder="Create Password" type="password"/>
    <input type="submit"  class="btn btn-outline-success" value="Register"/>
</form>
{% endblock %}
